doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title Backbone Presentation
    
    link(href="bootstrap/css/bootstrap.min.css", type="text/css", rel="stylesheet", media="screen")
    link(href="css/main.css", type="text/css", rel="stylesheet", media="screen")
  body
    .container
      .row
        .span12
          h1 Backbone Presentation
          #app
            .row
              .span12
                .control-buttons
            
            .row
              .span6
                #main
              .span3
                #side



    script(type="text/template", id="person-view")
      h2 <%= name %>
      p <span class="job"><%= job %></span> | <span class="country"><%= country %></span>
      div.bio 
        blockquote <%= bio %>


    script(src="js/vendor/jquery-1.9.1.js", type="text/javascript")
    script(src="bootstrap/js/bootstrap.min.js")
    script(src="js/vendor/underscore.js", type="text/javascript")
    script(src="js/vendor/backbone.js", type="text/javascript")
    script(src="js/three.js", type="text/javascript")
